* {
  box-sizing: border-box;
}

.clock {
  font-size: 150px;
  line-height: 1.5;
  font-family: 'Gloock', serif;
  color: #111;
  margin: 0;
  margin-top: -33vh;

  /* This will center anything on your page */
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
	width: 101vw;
	height: 101vh;
  margin-top: -1vh;
  margin-left: -1vw;
  margin-right: -1vw;
	padding: 0;
	overflow: hidden;
}

.time {
  
}

@keyframes rotate {
  100% {
     transform: rotate(360deg)
  }
}

.top-outer {
  transform-origin: 73px 69px;
  animation: rotate 30s linear infinite;
}

.top-inner {
  transform-origin: 73px 69px;
  animation: rotate 20s linear infinite;
}

.bottom-outer {
  transform-origin: 134px 222px;
  animation: rotate 30s linear infinite;
}

.bottom-inner {
  transform-origin: 134px  222px;
  animation: rotate 20s linear infinite;
}